body {
  /* background-image: url(/public/stylish_halftone_in_hexagon_flow_background.jpg); */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.background-img {
  position: absolute;
  max-width: 100%;
  max-height: 100vh;
  z-index: 0;
  opacity: 0.2;
}

#App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.searchBar form {
  background-color: white;
  position: relative;
  display: inline-flex;
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
  height: 35px;
  margin: 15px 0px;
  box-shadow: 3px 3px 2px;
  z-index: 4;
  transition: box-shadow 0.5s;
}

.searchBar form:hover {
  box-shadow: 0px 0px 10px 5px rgb(57, 238, 254);
}

.searchBar input {
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: hidden;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  outline: none;
  margin: 0px;
  width: 360px;
  height: auto;
}

.searchBar button {
  border: hidden;
  background: transparent;
  border-radius: 10px;
  padding: 0px;
  margin: 0px 10px 0px 5px;
  width: 24px;
  height: auto;
}

.searchBar ul {
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 45px;
  width: 380px;
  height: auto;
}

.searchBar li {
  margin: 5px 0px;
}

.searchBar li:hover {
  background-color: rgb(188, 255, 255);
}

#location {
  /* position: relative; */
  width: 1000px;
  text-align: center;
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  height: 100px;
  margin: 40px 0px 20px;
  z-index: 1;
}

.temperature-flexbox {
  position: relative;
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  margin-top: 30px;
}

.temperature-degree {
  font-size: 150px;
}

.temperature-degree:hover {
  transform: rotate(360deg);
}

.temperature-additional {
  align-self: stretch;
  font-size: 17px;
  margin-left: 50px;
  /* margin-bottom: 30px; */
}

.temperature-additional-unit {
  margin: 2px 0px;
}

.forecast_days_flexbox {
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 27px;
  top: 60px;
  z-index: 2;
}

.forecast_days {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 2px;
  width: 130px;
  height: 600px;
  overflow-y: hidden;
  background-color: white;
  opacity: 0.8;
  scroll-behavior: smooth;
}


.forecast_days_upscroll_button {
  position: absolute;
  top: -0.5px;
  border-radius: 15px 15px 0px 0px;
  width: 135.5px;
  height: 40px;
  background-color: rgb(231, 176, 255);
  z-index: 6;
  transition: opacity 0.5s;
}

.forecast_days_downscroll_button {
  position: absolute;
  bottom: -0.5px;
  border-radius: 0px 0px 15px 15px;
  width: 135.5px;
  height: 40px;
  background-color: rgb(231, 176, 255);
  z-index: 6;
  transition: opacity 0.5s;
}

.forecast_days_upscroll_button:hover {
  cursor: pointer;
}

.forecast_days_downscroll_button:hover {
  cursor: pointer;
}

.up_down_arrow {
  height: inherit;
  padding-top: 8px;
  font-size: 18px;
  color: white;
  text-align: center;
}

.forecast_day {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast_day_temperature {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast_day_name {
  text-align: center;
  font-weight: bold;
}

.max-min-temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30px;
  margin: 0px 4px;
}

.max-min-img {
  width: 35px;
  height: 35px;
}

#houyrly_forecast_title {
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 70px 0px 20px;
}

#forecast_hours_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast_hours {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 800px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 30px;
}

.forecast_hour {
  margin: 0px 15px;
  font-family: 'Unbounded', 'Anonymous Pro', Arial, Helvetica, sans-serif;
}

.forecast_hour_hour {
  text-shadow: 2px 2px 1px rgb(57, 238, 254);
  font-size: 25px;
  display: block;
  margin: 0px;
}

.forecast_hour_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast_hour_img {
  width: 60px;
  height: 60px;
}

.forecast_hour_degree {
  font-size: 35px;
  margin: 20px 0px;
}

.horizontal-scroll-button {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  transition: background-color 0.5s, border-radius 0.5s;
}

.horizontal-scroll-button:hover {
  cursor: pointer;
  background-color: rgb(255, 211, 253);
  border-radius: 30px;
}

@media screen and (max-width: 1150px) {
  .forecast_days_flexbox {
    display: none;
  }

  .forecast_days {
    opacity: 1;
  }

  .background-img {
    display: none;
  }
}

/* tablet style */
@media screen and (max-width: 900px) {
  #App {
    flex-direction: initial;
  }

  .forecast_days_container {
    display: none;
  }

  .temperature-flexbox {
    flex-wrap: wrap;
    margin-top: 20px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
  }

  #location {
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }

  #houyrly_forecast_title {
    margin-top: 200px;
    margin-bottom: 5px;
  }

  #forecast_hours_container {
    position: relative;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }
}

@media screen and (max-width: 750px) {
  #houyrly_forecast_title {
    margin-top: 200px;
    margin-bottom: 0px;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }

  #forecast_hours_container {
    width: 750px;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
  }

  .forecast_hour {
    flex-shrink: 2;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    margin: 10px 0px;
  }
}

@media screen and (max-width: 460px) {
  .searchBar {
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }

  .searchBar ul {
    z-index: 5;
  }

  #location {
    margin-top: 20px;
  }

  .temperature-additional {
    margin-bottom: 0px;
  }

  .temperature-degree {
    font-size: 110px;
  }

  #houyrly_forecast_title {
    margin-top: 250px;
    margin-bottom: 0px;
  }

  #forecast_hours_container {
    width: 740px;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
  }
}