body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchBar {
  position: relative;
  text-align: center;
  border:  2px solid black;
  width: 500px;
  height: 36px;
  margin: auto;  
}

.searchString {
  position: absolute;
    margin: 5px 16px 5px 16px;
    width: 324px;
     height: 24px;
}

.searchButton {
  padding-left: 5px;
  margin: 5px 16px 5px 16px;
  width: 24px;
  height: 24px;
}